#peekaboo-hidden {
  display: none;
}

#lovesloths-hidden {
  display: none;
}

#sleepingsloths-hidden {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}
